



/* This is for the hamburger icon code*/

#myButton::before {
    content: "\2630";
    color: rgb(22, 21, 21);
}

/* the actual hamburger icon */
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 0;
    right: 2vw;
}

/*******************************
 This is the header 
 *******************************/

header, footer {
    background-color: #99b9c0;
}

.container {
    display: grid;
    grid-template-columns: 3rem 1fr;
}

p {
    padding-left: 1rem;
    font-weight: 600;
}
.container p {
    grid-column: 2/3;
    font-size: 1.5rem;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

li.current-menu-item a {
    background-color: black
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

#myButton.open::before {
    content: "x";
    color: black;
}

ul.menuLinks.open {
    display: block;
}  
.active {
    background-color: rgba(0, 0, 0, .5);
}

.logo {
    padding-left: .5rem;
    padding-top: .5rem;
    height: 50%;
    width: 75%;
}
h2 {
    text-align: center;
}
.info-paragraph {
    padding-left: 1rem;
    padding-right: 1rem;
}



 /*********************
  This is the image 
  **********************/
.hero-img img {
    width: 100%;
    height: auto;
}

.hero-image {
    position: relative;
}

.info-paragraph {
    background-color: #e5d8c7;
    border-radius: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

/***************************
 This is the footer 
 ****************************/
 footer {
    text-align: center;
    font-size: .80rem;
    font-weight: 600;
 }
 #footerName {
    padding-top: 1rem ;
 }
.lastMod p {
    margin: 0 auto;  
 }
 .lastMod {
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
 .social img {
    padding-left: 2rem;
    width: 12%;
    height: auto;
 }

