@media only screen and (min-width: 38rem) {
   
    /*****************************
     This is for my nav 
     ******************************/
    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }
    ul.menuLinks a:hover {
        background-color: #b9bdc0;
    }





}



    