@media only screen and (min-width: 38rem) {

    .logo {
        max-width: 6rem;
        height: auto; 
          
    }
    header {
        display: grid;
        grid-template-columns: 100px 1fr 1fr;



    }

    header h1 {
        font-size: 25px;
    }
    
    header h2 {
        font-size: 13px;
    }

    /* This is for my nav */
    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }
    ul.menuLinks a:hover {
        background-color: #A7CFF2;
    }

    /* this is the main */
    main {
        max-width: 900px;
        margin: 0 auto;
    }

    main h2 {
        margin: 0 auto;
    }

    #membersCard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem; 
    }

        footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }

        footer .social {
            margin: auto;
        }
         
          
           
            





































}