

body {
    font-family: "Open Sans", sans-serif; 
}

header {
    font-size: .75rem;
    background-color: #68A69B;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;    
}

/* This is for the hamburger icon */

#myButton::before {
    content: "\2630";
    color: white;
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 0;
    right: 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

li.current-menu-item a {
    background-color: black
}

ul.menuLinks {
    display: none;
    list-style-type: none; /*effects large */
}

#myButton.open::before {
    content: "x";
    color: white;
}

ul.menuLinks.open {
    display: block;
}    


/* this is for nav */
nav {
    font-weight: 300; 
    background-color: #68A69B;
}
.menuLinks {
    touch-action: auto;
}

.active {
    background-color: rgba(0, 0, 0, .5);
}

/* This is the div container */
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    background-color: #cee0f0;;   
}

.flexbox-item {
    width: 280px;
    margin: 10px;   
}

.flexbox-item-1 {
    min-height: 30px;    
}

.flexbox-item-2 {
    min-height: 30px;    
}

.flexbox-item-3 {
    min-height: 30px;      
}

.flexbox-item-1 h1 {
    margin: auto;
    font-size: 20px;
    background-color:#68A69B;
    padding: 5px;
    color: white;   
}

.flexbox-item-2 h1 {
    margin: auto;
    font-size: 20px;
    background-color:#68A69B;
    padding: 5px;
    color: white;
}

.flexbox-item-3 h1 {
    margin: auto;
    font-size: 20px;
    background-color:#68A69B;
    padding: 5px;
    color: white;
}

/* This is the .filter-container and buttons */
.filter-container {
    background-color: white;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
}

#all, #cse, #wdd {
    color: white;
    min-width: 60px;
    background-color: #012E40;
    font-weight: 600;
}

.courseItem {
    background-color: rgb(247, 197, 151);
    font-size: 1rem;
}
.completed {
    background-color: #2f7e9b;
    color: white;
}

/* this is for number of credits */
#creditNumber {
    font-size: 25px;
    font-weight: bolder;
    margin: auto;
    }

/* this is for the footer */
footer {
    font-size: 1rem;
    background-color: #68A69B;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    
}

/* 
****************************
This is for the modal
**************************** */

#courseDetails {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25;
    padding: 1rem;
    background-color: rgb(233, 172, 92);
    box-shadow: 0 0 3rem black;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}



    /* Color Theme Swatches in Hex */
    .color-theme_City-of-canton-1-hex { color: #A7CFF2; }
    .color-theme_City-of-canton-2-hex { color: #012E40; }
    .color-theme_City-of-canton-3-hex { color: #68A69B; }
    .color-theme_City-of-canton-4-hex { color: #BBBF4B; }
    .color-theme_City-of-canton-5-hex { color: #F2F2F2; }
    
    /* Color Theme Swatches in RGBA */
    .color-theme_City-of-canton-1-rgba { color: rgba(167, 207, 242, 1); }
    .color-theme_City-of-canton-2-rgba { color: rgba(1, 46, 64, 1); }
    .color-theme_City-of-canton-3-rgba { color: rgba(104, 166, 155, 1); }
    .color-theme_City-of-canton-4-rgba { color: rgba(187, 191, 75, 1); }
    .color-theme_City-of-canton-5-rgba { color: rgba(242, 242, 242, 1); }