body {
    font-family: "Open Sans", sans-serif; 
    font-weight: 300;
}

nav {
   font-weight: 100; 
}



/* This is for the hamburger icon */


#myButton::before {
    content: "\2630";
    color: black;
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 0;
    right: 2vw;
}



ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: black;
    /* font-weight: 600; */
    text-decoration: none;
}

li.current-menu-item a {
    background-color: black
}

ul.menuLinks {
    display: none;
    list-style-type: none; /*effects large */
}

/*CSS for the open class*/
#myButton.open::before {
    content: "x";
    color: black;
}

ul.menuLinks.open {
    display: black;
}    

    

    /* Color Theme Swatches in Hex */
    .color-theme_City-of-canton-1-hex { color: #A7CFF2; }
    .color-theme_City-of-canton-2-hex { color: #012E40; }
    .color-theme_City-of-canton-3-hex { color: #68A69B; }
    .color-theme_City-of-canton-4-hex { color: #BBBF4B; }
    .color-theme_City-of-canton-5-hex { color: #F2F2F2; }
    
    /* Color Theme Swatches in RGBA */
    .color-theme_City-of-canton-1-rgba { color: rgba(167, 207, 242, 1); }
    .color-theme_City-of-canton-2-rgba { color: rgba(1, 46, 64, 1); }
    .color-theme_City-of-canton-3-rgba { color: rgba(104, 166, 155, 1); }
    .color-theme_City-of-canton-4-rgba { color: rgba(187, 191, 75, 1); }
    .color-theme_City-of-canton-5-rgba { color: rgba(242, 242, 242, 1); }