@media only screen and (min-width: 38rem) {

    #myButton {
        display: none;
    }
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }
    ul.menuLinks a:hover {
        background-color: #A7CFF2;
    }

    .flexbox-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .flexbox-item {
        border: 1px solid black;
        background-color: rgb(248, 245, 243);   
       
    }
    
  

 


